{% extends 'base3.html'%}
{% load humanize %}

{% block content %}
<div class="invoiceWrap">
    <div class="invoiceWrap__content">
        <h3 class="text-center">Admin Dashboard</h3>
        <div class="text-right mb-10" id="back" >
            <a href="/" class="btn btn-success">Home</a>
            
        </div>
        <div class="invoiceWrap__content__card">

            <h1>Welcome {{admin_user}} to the Admin Dashboard!</h1>


        </div>
    </div>
</div>

</body>
</html>
    

{% endblock %}